# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo

# MLflow
mlruns/

# Logs
logs/
*.log

# Artifacts
artifacts/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db